.pokemon > a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
}

.pokemon-container {
  margin-bottom: 55px;
}

.cards-container {
  position: relative;
  bottom: 60px;
}

.pokemon-img-container img {
  width: 180px;
  transition: all ease-in 0.3s;
}

.pokemon-img-container img:hover {
  transform: scale(1.15);
}

.background-container {
  width: auto;
  height: 290px;
  border-radius: 27px;
  background-color: white;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: white;
}

.pokemon-types {
  margin: 0 55px;
}

.types {
  color: black;
  font-weight: 700;
  font-size: 23px;
  text-transform: capitalize;
  padding: 15px 78px;
  border-radius: 60px;
  margin-bottom: 7px;
  background-color: white;
}

/* media queries */

@media (max-width: 350px) {
  .pokemon-types {
    margin: 0 30px;
  }
}

/* animations */

@keyframes slideInLeft {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes out {
  from {
    opacity: 0;
  }
  to {
  }
}

@keyframes bottomToTop {
  from {
    transform: translateY(100rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

/* types colors background */

.fire {
  background-color: #df8544;
}

.grass {
  background-color: #36ba94;
}

.water {
  background-color: #0f2a47;
}

.ghost {
  background-color: #6f33ce;
}

.flying {
  background-color: #8686de;
}

.bug {
  background-color: #93c25c;
}

.electric {
  background-color: #f3c242;
}

.ground {
  background-color: #9e7e3d;
}

.poison {
  background-color: #7f67bf;
}

.normal {
  background-color: #e6be81;
}

.fighting {
  background-color: #c45122;
}

.psychic {
  background-color: #db4ac5;
}

.rock {
  background-color: #b6b49c;
}

.ice {
  background-color: #367ca8;
}

.dragon {
  background-color: #cec447;
}

.fairy {
  background-color: #e09dac;
}

.steel {
  background-color: #bfbfbf;
}

.dark {
  background-color: black;
}

.fire-color {
  color: #df8544;
}

.grass-color {
  color: #36ba94;
}

.water-color {
  color: #0f2a47;
}

.ghost-color {
  color: #6f33ce;
}

.flying-color {
  color: #8686de;
}

.bug-color {
  color: #93c25c;
}

.electric-color {
  color: #f3c242;
}

.ground-color {
  color: #9e7e3d;
}

.poison-color {
  color: #7f67bf;
}

.normal-color {
  color: #e6be81;
}

.fighting-color {
  color: #c45122;
}

.psychic-color {
  color: #db4ac5;
}

.rock-color {
  color: #b6b49c;
}

.ice-color {
  color: #367ca8;
}

.dragon-color {
  color: #cec447;
}

.fairy-color {
  color: #e09dac;
}

.steel-color {
  color: #bfbfbf;
}

.dark-color {
  color: black;
}
