body {
  text-align: center;
  background-color: #efefef;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.title {
  margin-top: 20px;
  font-size: 30px;
  text-transform: capitalize;
}

.pokemon-img {
  width: 250px;
}

.pokemon-img:hover {
  transform: scale(1.1);
}

.types {
  color: white;
  font-weight: 500;
  font-size: 25px;
  text-transform: capitalize;
  padding: 20px 80px;
  margin-bottom: 20px;
  border-radius: 60px;
  background-color: white;
}

.black {
  color: black !important;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes out {
  from {
    opacity: 0;
  }
  to {
  }
}

@keyframes bottomToTop {
  from {
    transform: translateY(100rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

.fire {
  background-color: #DF8544;
}

.grass {
  background-color: #36ba94;
}

.water {
  background-color: #0f2a47;
}

.ghost {
  background-color: #6f33ce;
}

.flying {
  background-color: #8686de;
}

.bug {
  background-color: #93c25c;
}

.electric {
  background-color: #f3c242;
}

.ground {
  background-color: #9e7e3d;
}

.poison {
  background-color: #7f67bf;
}

.normal {
  background-color: #e6be81;
}

.fighting {
  background-color: #c45122;
}

.psychic {
  background-color: #db4ac5;
}

.rock {
  background-color: #b6b49c;
}

.ice {
  background-color: #367ca8;
}

.dragon {
  background-color: #cec447;
}

.fairy {
  background-color: #E09DAC;
}

.steel {
  background-color: #bfbfbf;
}

.dark {
  background-color: black;
}
