
body {
 text-align: center;
 background-color: #EFEFEF;
}

a {
 color: inherit;
 text-decoration: inherit;
}

.title {
 margin-top: 20px;
 font-size: 30px;
 text-transform: capitalize;
}

.pokemon-img {
 width: 250px;
}

.types {
 font-weight: 500;
 font-size: 25px;
 text-transform: capitalize;
 padding: 20px 80px;
 margin-bottom: 20px;
 border-radius: 60px;
 background-color: white;
}

.fire {
 background-color: #A33936;
}

.grass {
 background-color: #62D5B4;
}

.water {
 background-color: #0F2A47;
}

.ghost {
 background-color: #6F33CE;
}

.flying {
 background-color: #CFCFFA;
}

.bug {
 background-color: #93C25C;
}

.electric {
 background-color: #F3C242;
}

.ground {
 background-color: #9E7E3D;
}

.poison {
 background-color: #7C7CAA;
}

.normal {
 background-color: #DDC49E;
}

.fighting {
 background-color: #C45122;
}

.psychic {
 background-color: #D0BD3F;
}

.rock {
 background-color: #B6B49C;
}

.ice {
 background-color: #30628A;
}

.dragon {
 background-color: #CE7847;
}

.fairy {
 background-color: rgb(250, 219, 178);
}