.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  padding: 30px 0;
  top: 0;
  margin-bottom: 55px;
  z-index: 3;
}

.searchbar img {
  width: 25px;
  transform: translateX(10px);
  cursor: pointer;
  animation: 1s out;
}

.search {
  border-radius: 6rem;
  width: clamp(227px, 50%, 550px);
  height: 55px;
  border: none;
  font-size: 20px;
  text-align: center;
  animation: 1s out;
}

.search:focus {
  outline: none;
}

@keyframes out {
  from {
    opacity: 0;
  }
  to {
  }
}
