.searchbar {
 padding-top: 1.3rem;
 padding-bottom: 1.3rem;
}

.search {
 border-radius: 6rem;
 width: 50rem;
 height: 3rem;
 border: none;
 font-size: 1.3rem;
 text-align: center;
}

.search:focus {
 outline: none;
}