.show-title {
  padding-top: 20px;
  font-size: 30px;
  text-transform: capitalize;
  color: white;
  animation: 1s slideInLeft;
}

.show-pokemon {
  padding: 80px 0 20px 0;
  min-height:100vh;
}

.show-pokemon-img-container {
  margin: 20px 0;
}

.show-pokemon-img {
  width: 450px;
  animation: 1s bottomToTop;
}

.show-pokemon-id {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
  color: white;
  animation: 2s out;
}

.show-pokemon-types {
  margin: 15px 0;
}

.show-types {
  width: 240px;
  text-align: center;
  display: inline-block;
  font-weight: 500;
  font-size: 25px;
  padding: 20px 80px;
  border-radius: 50px;
  background-color: white;
  text-transform: capitalize;
  margin: 15px 10px;
  animation: 2s out;
  color: white;
}

.show-counter {
  font-weight: 500;
  color: white;
}

.show-effectiness {
  font-size: 28px;
  text-transform: capitalize;
  margin: 15px 0;
}

.black {
  color: black;
}

@media (max-width: 502px) {
  .show-pokemon-img {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .show-pokemon-img {
    width: 280px;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes out {
  from {
    opacity: 0;
  }
  to {
  }
}

@keyframes bottomToTop {
  from {
    transform: translateY(100rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

.show-fire {
  background-color: #9c130e;
 }
 
 .show-grass {
  background-color: #23a781;
 }
 
 .show-water {
  background-color: #13385f;
 }
 
 .show-ghost {
  background-color: #5620ad;
 }
 
 .show-flying {
  background-color: #7979ca;
 }
 
 .show-bug {
  background-color: #74ac34;
 }
 
 .show-electric {
  background-color: #ebb01d;
 }
 
 .show-ground {
  background-color: #ce8e0d;
 }
 
 .show-poison {
  background-color: #5932c4;
 }
 
 .show-normal {
  background-color: #d1a562;
 }
 
 .show-fighting {
  background-color: #a03e18;
 }
 
 .show-psychic {
  background-color: #b63ca3;
 }
 
 .show-rock {
  background-color: #8a8875;
 }
 
 .show-ice {
  background-color: #1d6796;
 }
 
 .show-dragon {
  background-color: #c2b71f;
 }
 
 .show-fairy {
  background-color: #b62479;
 }
 
 .show-steel {
  background-color: #858585;
 }
 
 .show-dark {
   background-color: rgb(48, 48, 48);
 }